<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.hotel.entity.Notice">
        <id column="ser_num" jdbcType="INTEGER" property="serNum"/>
        <result column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="notice" jdbcType="VARCHAR" property="notice"/>
        <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ser_num, admin_id, notice, release_time
    </sql>

    <insert id="insert" parameterType="com.hotel.entity.Notice" useGeneratedKeys="true" keyProperty="serNum">
        INSERT INTO t_notice (admin_id, notice, release_time)
        VALUES (#{adminId}, #{notice}, NOW())
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.hotel.entity.Notice">
        UPDATE t_notice
        SET admin_id = #{adminId},
            notice = #{notice}
        WHERE ser_num = #{serNum}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM t_notice WHERE ser_num = #{serNum}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_notice
        WHERE ser_num = #{serNum}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_notice
        ORDER BY release_time DESC
    </select>

    <select id="selectLatest" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_notice
        ORDER BY release_time DESC
        LIMIT 5
    </select>

</mapper>
