<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.RoomTypeMapper">

    <resultMap id="BaseResultMap" type="com.hotel.entity.RoomType">
        <id column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id, type
    </sql>

    <insert id="insert" parameterType="com.hotel.entity.RoomType" useGeneratedKeys="true" keyProperty="typeId">
        INSERT INTO t_room_type (type)
        VALUES (#{type})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.hotel.entity.RoomType">
        UPDATE t_room_type
        SET type = #{type}
        WHERE type_id = #{typeId}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM t_room_type WHERE type_id = #{typeId}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_room_type
        WHERE type_id = #{typeId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_room_type
        ORDER BY type_id
    </select>

</mapper>
