# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Aijava\javaproject\260410\dogfooding-3-503\admin\dogfooding-3-503\environment\repo\hotel-management-system-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
